<br>
<form method="GET" action="/search/q">
	<div style="text-align: center;">
	    <input type="search" name="src" value="<%= @params[:src] %>" size=30>
	    <input type="submit" value="Search!">
	    <input type=radio name="out" value="inline"<%= (@params[:out] == 'inline') ? " checked" : "" %>>&nbsp;Inline
	    <input type=radio name="out" value="table"<%= (@params[:out] == 'table') ? " checked" : "" %>>&nbsp;Table
	    <input type=radio name="out" value="json"<%= (@params[:out] == 'json') ? " checked" : "" %>>&nbsp;JSON
	    <input type=radio name="out" value="pretty_json"<%= (@params[:out] == 'pretty_json') ? " checked" : "" %>>&nbsp;Pretty JSON
	    <hr width="50%">
	</div>
</form>
<h3><%= @res_preamble %></h3>
<hr width="70%" align="left">
<% unless @resultdata.nil? %> 
	<% @resultdata.each do |res| %>
		<table width="85%">
			<caption>
				<b>Result:</b> <%= res[:number] %><br>
				<b>Score:</b> <%= res[:score] %><br>
				<b>Type:</b> <%= res[:filetype] %><br>
				<b>File:</b> <%= res[:filepath] %>
			</caption>
			<thead>
				<tr>
					<% res[:headers].each do |hdr| %>
						<th><%= hdr %></th>
					<% end %>
				</tr>       
			</thead>
			<tbody>
				<tr>
					<% res[:data].each do |cell| %>
						<td ><%= cell %></td>
					<% end %>
				</tr>       
			</tbody>
		</table>
		<br>
		<hr width="70%" align="left">
	<% end %>
<% end %>
